## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
<div class="postunit">
    <div class="info-column">
    </div>
    <div class="post">
        <h2>${title}</h2>
        <div class="post_body">
        <ul class="unstyled">
        % for text, link in items:
            <li><a href="${link}">${text}</a>
        % endfor
        </ul>
        </div>
    </div><!-- /.post -->
    <div class="clear"></div>
</div>
</%block>

<%block name="sidebar">
<p style="font-size: 14px;"><a href="${abs_link('/')}">«&nbsp;Back to blog</a></p>
<div class="sidebar-block" style="margin-top: 30px;">
    <h5><a href="/tag/index.html">Tags</a></h5>
</div>
<div class="sidebar-block">
    <h5><a href="http://gpsloglabs.com/">GPSLogLabs.com</a></h5>
</div>
<div class="sidebar-block">
    <a href="http://blog.gpsloglabs.com/rss.xml" class="subscribe-link subscribe-rss">Subscribe via RSS</a>
</div>
</%block>
