/* Primary color */
/* Secondary color 1 */
/* use for data  elements that have to stand out
   against primary of same shade, e.g. boxed tags, charts */
/* Secondary color 2 */
/* use for selections, hover etc. that replace primary colour*/
/* contrasting text colours */
/* site */
/* tabs */
/* tables */
/* graphs */
* {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
.clear {
  clear: both;
  font-size: 0;
}
.left {
  float: left;
}
body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 12px;
}
a {
  color: #0000ee;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.header {
  background: #5d6e86;
  color: #eeeeee;
  overflow: visible;
  z-index: 10;
  text-align: center;
}
.header_text,
.header_text .content {
  height: 100px;
}
.header .content {
  width: 500px;
  margin: 0 auto;
  padding-right: 100px;
  position: relative;
}
h1,
h2,
.about-details,
.date {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.date {
  font-weight: 300;
}
h1 {
  font-size: 36px;
  text-align: right;
  line-height: 36px;
}
h1 a {
  color: #eeeeee;
  text-decoration: none;
}
h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
h2 a {
  color: #1d3456;
  text-decoration: none;
}
h2 a:hover {
  color: #444444;
  text-decoration: none;
}
.post_body {
  margin-top: 15px;
}
h4 {
  color: #666666;
}
.about {
  width: 960px;
  margin: 0 auto;
}
.about p {
  color: #888888;
  text-align: center;
  width: 500px;
  margin-left: 180px;
}
#posts {
  float: left;
  width: 680px;
}
.postunit {
  padding: 20px 0px;
  margin: 5px 0px;
  position: relative;
}
.info-column {
  color: #444444;
  float: left;
  font-size: 14px;
  text-align: right;
  width: 180px;
  margin-top: 1px;
}
.date {
  margin: 5px 20px 0 0;
}
.date-day {
  color: #666666;
  font-weight: bold;
}
.date a:hover {
  color: #1d3456;
}
.post {
  float: right;
  position: relative;
  width: 500px;
}
.post p,
.post div {
  line-height: 1.5em;
}
p {
  margin: 15px 0px;
}
.post ol {
  margin: 15px 0px 15px 20px;
}
.post ul {
  margin: 15px 0px 15px 15px;
}
.post ul li {
  margin-bottom: 1em;
}
.tagsbar {
  font-size: 11px;
  line-height: 14px;
  color: #666666;
  margin-top: 15px;
}
.search-section,
.tag-section,
.archive-section {
  margin-left: 160px;
  padding: 20px 20px 5px 20px;
}
.search-section h2,
.tag-section h2,
.archive-section h2 {
  color: #444444;
  font-size: 16px;
}
#sidebar {
  float: right;
  width: 230px;
  margin-top: 30px;
}
.sidebar-block {
  margin-bottom: 30px;
}
h5 {
  color: #1d3456;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.subscribe-link {
  color: #666666;
  font-size: 11px;
  padding: 2px 0px 0px 20px;
  line-height: 20px;
  position: relative;
  top: -2px;
}
.subscribe-rss {
  background: url(/feed-icon-14x14.png) no-repeat -1px;
  height: 16px;
  margin: 3px 0px;
  padding-bottom: 3px;
}
.subscribe-email {
  background: url(/mailchimp.png) no-repeat -1px;
  height: 16px;
  margin: 3px 0px;
  padding-bottom: 3px;
}
ul.bricks > li {
  display: inline;
  background-color: #dbccc2;
  padding: 4px 8px;
  border-radius: 5px;
  line-height: 3;
  white-space: nowrap;
  margin: 3px;
}
ul.bricks > li a {
  color: #444444 !important;
}
.info-column .tagsbar {
  text-align: left;
  float: right;
  margin-top: 3em;
  margin-right: 3em;
  line-height: 0.75em;
}
.info-column .tagsbar a {
  display: block;
  margin: 1em 0 -0.5em 1em;
}
.p_embed {
  margin-top: 1em;
  text-align: center;
}
.p_embed a {
  display: block;
  margin-bottom: 1em;
}
.frgtd a {
  background-color: #5d6e86 !important;
}
