<!-- 
.. link: 
.. description: 
.. tags: openid,accounts
.. date: 2013/09/22 12:00:00
.. title: Add additional OpenIDs to your account
.. slug: add-additional-openids-to-your-account
-->

<p>
    With the news that <a href="https://www.myopenid.com/">myOpenID is closing down</a> early next
    year, I've updated <a href="http://gpsloglabs.com/">GPSLog Labs</a> so you can associate
    additional <a href="http://openid.net/">OpenID</a>s with your account. Previously this required
    contacting me, but since many users will have to replace their myOpenID with an alternative
    OpenID I've made it possible to do it yourself.
</p>

<p>
    Simply go to your <a href="http://gpsloglabs.com/profile/">account Settings</a> and click the
    <strong>Add another OpenID</strong> button (while logged in with your current OpenID).
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/add-openid/profile.scaled500.jpg">
</div>

<p>
    Then, sign in with your new OpenID and when you return to GPSLog Labs your account will be
    updated.
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/add-openid/add-openid.scaled500.jpg">
</div>

<p>
    You can continue to sign in with the old OpenID (as long as it is still active) and add as many
    OpenIDs to your account as you'd like.
</p>

<p>
    There is no need to remove OpenIDs from your account that you no longer use, but if you want to
    (e.g. to use it on a second GPSLog Labs account for some reason, then please contact me
    at <a href="mailto:tom@gpsloglabs.com">tom@gpsloglabs.com</a>.)
</p>

<p>
    I've also updated the login buttons and added a <a href="http://openid.yandex.ru/">Yandex</a>
    login for Russian users.
</p>
