<!--
.. link:
.. description:
.. tags: changelog,https
.. date: 2018/12/31 12:00:00
.. title: HTTPS!
.. slug: https-december-2018
-->

<p>
    GPSLog Labs is now using
    <a href="https://en.wikipedia.org/wiki/HTTPS">HTTPS</a>!
</p>

<p>
    Thanks to
    <a href="https://letsencrypt.org/">Let's Encrypt</a>
    we were finally able to upgrade the site to improve your security and
    privacy.
</p>

<p>
    Unfortunately, some third-party services we were using aren't using HTTPS
    yet so they've had to be disabled. In particular:
</p>

<ul>
    <li>
        The <b>pop-up feedback form</b> can no longer be used, please visit the
        <a href="http://feedback.gpsloglabs.com/">feedback</a>
        page directly.
    </li>
    <li>
        The <b>cycles map layer</b> is also unfortunately not available over
        HTTPS and has been removed.
    </li>
</ul>

<p>
    If you notice anything that isn't working properly, please contact
    <a href="mailto:tom@gpsloglabs.com">tom@gpsloglabs.com</a>.
</p>
