<!-- 
.. link: 
.. description: 
.. tags: routes
.. date: 2015/05/25 13:00:00
.. title: Merging Routes
.. slug: merging-routes
-->

<p>
    Routes have always been between two different places. If you wanted
    to compare activity along similar routes between nearby places, you
    had to create checkpoints to generate splits along the common
    sections.
</p>
<p>
    I've now changed it so that a route can start and stop at one or more
    places.
</p>
<p>
    This is particularly useful if you have a commute and have moved
    house or jobs. It works best if the places are still fairly close
    together. If they're not, then the altitude profiles, distances etc.
    are not likely to be as useful, but it depends on what you are
    trying to compare.
</p>
<p>
    There are two ways to create these new routes:
</p>
<ol>
    <li>
        When selecting a route, choose <strong>Show routes for all
        places<strong> from the <strong>Change filter</strong> dropdown.

        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/select-route.png">
        </div>
    </li>
    <li>
        If you have had to create multiple routes already and now you
        want to combine them, you can select
        <a href="http://gpsloglabs.com/route/merge">Merge Routes</a>
        from the <a href="http://gpsloglabs.com/route">Routes</a> page:
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-1a.png">
        </div>

        Or from the bottom of Route detail page:
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-1b.png">
        </div>
    </li>
</ol>

<p>
    That will open the Merge Routes page which allows you to select the
    two routes you want to merge.
</p>
<div class="p_embed p_image_embed">
    <a href="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-2.png">
        <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-2.scaled500.jpg">
    </a>
</div>
<p>
    This will combine the activities and stats for the two routes.
</p>
<p>
    The new route detail page will list all the start and end places:
</p>

<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-3b.png">
</div>

<p>
    Markers for all the from/to places will be shown on the map:
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-3a.png">
</div>

<p>
    Route stats will be broken down by the pairs of start/stop places
    used by the activity:
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-3c.png">
</div>

<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-3d.png">
</div>

<p>
    Best effort comparisons will be available for the matching
    start/stop places and also all the activity in the Route:
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-3e.png">
</div>

<p>
    Should you need to reverse this process, you'll need to recreate the second
    route and select it for all the activity it applies to.
</p>
<p>
    Once a start/stop place is no longer used on a route, you can remove it
    from the edit route page:
</p>
<div class="p_embed p_image_embed">
    <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/merge-routes-4.png">
</div>
