<!-- 
.. link: 
.. description: 
.. tags: changelog,openid,persona
.. date: 2016/04/25 12:00:00
.. title: Persona Shutdown November 2016 [completed]
.. slug: persona-shutdown-november-2016
-->

<p>
  <b>Update</b>: Mozilla Persona support has been removed.
  If you haven't associated an alternate login method with your account,
  please contact <a href="mailto:tom@gpsloglabs.com">tom@gpsloglabs.com</a>.
</p>

<p>
    The Mozilla Persona project has indicated that they are going to be
    <a href="https://developer.mozilla.org/en-US/Persona">shutting down in
    November 2016</a>.
</p>
<p>
    In preparation GPSLog Labs will no longer allow new accounts to be created
    using a Persona login.
</p>
<p>
    If you login using Persona you will be advised to
    <a href="http://blog.gpsloglabs.com/posts/add-additional-openids-to-your-account.html">
    add alternative log in details to your account</a>.
</p>
<p>
    As with previous OpenID changes, if you have any difficulties (e.g. you see
    a new empty account after logging in), please contact
    <a href="mailto:tom@gpsloglabs.com">tom@gpsloglabs.com</a> and I'll fix it
    up.
</p>
