<!-- 
.. link: 
.. description: 
.. tags: 
.. date: 2015/03/17 12:00:00
.. title: [Completed] Scheduled Maintenance 27-Mar-2015 10:00 UTC
.. slug: scheduled-maintenance-27-mar-2015-1000utc
-->

<p><b>Update</b>: The maintenance has been completed, 28th March 2015 11:00 UTC.</p>

<p>
    The <a href="http://gpsloglabs.com/">GPSLog Labs</a> server will be
    down for maintenance between Friday 27th March 10:00 UTC
    and Sunday 27th March 13:00 UTC, approximately.
</p>
<p>
    The site will be unavailable while this occurs, sorry for any
    inconvenience this may cause.
</p>
