<!-- 
.. link: 
.. description: 
.. tags: changelog,routes,sharing
.. date: 2013/12/17 12:00:00
.. title: Updates for December 17th
.. slug: updates-for-december-17th
-->

<p>
    Some recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>, just in time for
    Christmas:
</p>

<ul>
    <li>
        <p>
            GPSLog Labs now has a <a href="http://gpsloglabs.com/shared/catalog/">public catalog of
            shared logs</a>.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/catalog_map.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/catalog_map.scaled500.jpg">
            </a>
        </div>
        <p>
            By zooming in on a region of the world map, you can see activity other users have shared
            and use it to plan your runs, rides and hikes.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_detail_map.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_detail_map.scaled500.jpg">
            </a>
        </div>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_detail_info.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_detail_info.scaled500.jpg">
            </a>
        </div>
        <p>
            You can still choose to keep your activity entirely private, or share it with a specific
            group of people, but if you want to include your activity in the catalog, simply go
            to <a href="http://gpsloglabs.com/shared/">your shared content</a>, edit the activity
            you wish to share, and tick the "Include in Public Catalog" checkbox.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_checkbox.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_checkbox.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            You can also now download shared activity as a GPX file which can then be loaded onto your
            device for navigation when you're out and about.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_gpx_download.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/share_gpx_download.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            The route detail, route split detail and selection detail pages are now using a layout
            with a panel on the right hand side to better use the space on wider screens.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/route_side_panel.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-december-17th/route_side_panel.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        Editing notes in the side panels now saves your changes without reloading the page.
    </li>
    <li>
        Also, I fixed a bunch of issues unfortunately introduced by the
        new <a href="/posts/updates-for-november-10th.html">dynamically loaded tabs</a>. Apologies
        if you noticed things that weren't working properly for a while, and if you have any other
        issues, please <a href="http://feedback.gpsloglabs.com/">let me know</a>.
    </li>
</ul>
