<!-- 
.. link: 
.. description: 
.. tags: changelog, activityfeed, maps
.. date: 2013/07/27 0:00:00
.. title: Updates for July 27th
.. slug: updates-for-july-27th
-->

<p>
    Some recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            The full-screen mode for maps is now controlled by a button in the top right corner of
            the map, rather than a link below the map. There's a smaller version for small maps, and
            the same button will close the full-screen view.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/map-fullscreen-button.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/map-fullscreen-button.scaled500.png">
            </a>
        </div>
    </li>

    <li>
        <p>
            The <a href="http://gpsloglabs.com/tags/feed">"Activity feed"</a> now has some "action"
            buttons on your recent and upcoming significant achievements.
        </p>
        <p>
            Completed goals have a "Rollover" button to copy the goal and adjust the dates to the
            next time period.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/activity-feed-rollover.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/activity-feed-rollover.png">
            </a>
        </div>

        <p>
            Fastest times have a "Share" button to allow you to quickly post them to Facebook or
            another social network.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/activity-feed-share.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/activity-feed-share.png">
            </a>
        </div>

        <p>
            The feed now also includes predictions of when you'll reach certain activity counts
            (e.g. your 100th run).
        </p>
    </li>

    <li>
        <p>
            The tag and goal distance vs time graphs now have cross-hairs to let you easily read off
            the distance/time of the point under the mouse.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/dist-vs-time-graph-crosshairs.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-july-27th/dist-vs-time-graph-crosshairs.scaled500.png">
            </a>
        </div>
    </li>

    <li>
        <p>
            The new layout style is continuing to spread through the site, now it includes the
            <a href="http://gpsloglabs.com/uploads/">Uploaded Log Files</a>
            and <a href="http://gpsloglabs.com/shared/">Your Shared Content</a> pages.
        </p>
    </li>

</ul>
