<!-- 
.. link: 
.. description: 
.. tags: changelog,routes,bestefforts,editing,crossfilter,activityfeed,icalendar
.. date: 2015/05/25 12:00:00
.. title: Updates for May 25th
.. slug: updates-for-may-25th
-->

<p>
    As noted earlier, now that <a href="http://gpsloglabs.com/">GPSLog Labs</a>
    has been migrated to the new server and updated to newer library versions,
    there has finally been some time to add new features:
</p>

<ul>
    <li>
        <p>
            Sharing <strong>Routes between multiple places</strong>.
        </p>
        <p>
            See the next post on <a href="merging-routes.html">Merging Routes</a>
            for details.
        </p>
    </li>

    <li>
        <p>
            View <strong>best efforts in crossfilter</strong>.
        </p>
        <p>
            Tag crossfilters have got a bit more powerful and can now include
            best effort times.
        </p>
        <p>
            For example, to answer questions such as "what's the fastest I've
            run 1km when doing long runs?", select the distance from the Best
            Efforts Splits filter:
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/best-effort-split-1a.png">
        </div>

        <p>
            This will add Split Duration and Split Average Speed/Pace graphs to
            the dashboard and table:
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/best-effort-split-1b.png">
        </div>

        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/best-effort-split-1c.png">
        </div>

        <p>
            You can filter using the charts to select just "long" runs and
            "fast" best efforts:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/best-effort-splits-2.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/best-effort-splits-2.scaled500.jpg">
            </a>
        </div>
    </li>

    <li>
        <p>
            <strong>Suggested edits</strong>.
        </p>
        <p>
            This one is a little experimental and I'll be refining it I'm sure.
            The idea is that GPSLog Labs will remember the edits you make to
            your uploaded activity (fixing unmatched places, assigning routes
            and tags) and speed up the editing process the next time by
            providing suggestions where it can.
        </p>
        <p>
            When GPSLog Labs can provide a suggested edit, a button will be
            displayed next to the activity:
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/suggested-edits-1.png">
        </div>

        <p>
            Selecting an option from the suggested edits will apply updates to
            the tags, route and start/stop places as necessary.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/suggested-edits-2.png">
        </div>
    </li>

    <li>
        <p>
            <strong>Activity feed</strong> projections iCal feed.
        </p>
        <p>
            The Activity Feed on the home page displays dates you're projected
            to hit various milestones (distances, counts and goals) but it's
            pretty easy to overlook something interesting that's coming up.
        </p>
        <p>
            Now there's an iCal feed url you can add into your calendar to see
            these projections on your phone or somewhere else convenient so you
            can get a little kick of motivation when you're about to pass the
            milestone.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-may-25th/activity-feed-ical.png">
        </div>
    </li>
</ul>
