<!-- 
.. link: 
.. description: 
.. tags: changelog,routes,filters,position filter,time filter,places,waypoints,tips
.. date: 2013/11/10 12:00:00
.. title: Updates for November 10th
.. slug: updates-for-november-10th
-->

<p>
    Some recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            When filtering a log file using a time or position filter, you can now <b>copy nearby
            waypoints</b>, rather than drawing the line each time.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-1.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-1.scaled500.jpg">
            </a>
        </div>
        <p>
            Once you zoom into/select the area to be filtered, click the "Search for nearby
            waypoints" button.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-2.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-2.scaled500.jpg">
            </a>
        </div>
        <p>
            This will list all the nearby waypoints and you can click on them to copy them into your
            filter.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-3.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/copy-waypoints-3.scaled500.jpg">
            </a>
        </div>
        <p>
            This search uses not only waypoints you've created before, but also those created by all
            the other GPSLog Labs users, so you can take advantage of paths others have marked and
            save yourself some effort.
        </p>
    </li>
    <li>
        <p>
            New <b>forward vs reverse performance</b> chart for routes.
        </p>
        <p>
            This graph compares the forward speed with the reverse speed for any days where you go
            in both directions on the route. E.g. a commute to and from work.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/route-in-out.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/route-in-out.scaled500.jpg">
            </a>
        </div>
        <p>
            The shading on the graph represents the 25th—75th percentile of the data, the red line
            indicates the median speed.
        </p>
        <p>
            Points in the bottom-right represent fast forward direction with a slow log in the
            reverse direction, while the points in the top-left are slow forward and fast
            reverse. (Note, this description is flipped for pace formats.)
        </p>
    </li>
    <li>
        <p>
            Download <b>places as waypoints</b> in a GPX file that you can load into your GPS to
            assist with navigation and route planning.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/download-places.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/download-places.scaled500.jpg">
            </a>
        </div>
        <p>
            The <a href="http://gpsloglabs.com/places/">Places</a> page has a new "Download" menu
            that lets you generate a GPX file containing waypoints for each of the places you have
            created.
        </p>
        <p>
            You can choose to get all your places, just the active places or just
            your <a href="http://gpsloglabs.com/places/displayed_in/favourites/">favourites</a>.
        </p>
        <p>
            This menu also incorporates the CSV download option which will get all your place
            information into a spreadsheet.
        </p>
    </li>
    <li>
        <p>
            Downloaded zip files now have modified dates of the files set to the current date/time.
        </p>
    </li>
    <li>
        <p>
            The tabs on various pages around the site now load dynamically, so you'll notice a
            little "Loading..." message after the tab is clicked. You can then quickly switch
            between the tabs without waiting for the whole page to load again.  This is very handy
            when comparing the heart rate graph with the altitude profile or speed graphs, for
            example.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-november-10th/loading-tab.png">
        </div>
    </li>
    <li>
        <p>
            And lastly, a little tip:
        </p>
        <p>
            Set a place radius to 1m to prevent it being used to cut activity without having to mark
            it as inactive.  This will still allow you to select the place as a start/end point manually.
        </p>
        <p>
            This can be handy if you pass by a place on a regular commute and don't want to have to
            remove the stop from your processed activity.
        </p>
    </li>
</ul>
