<!-- 
.. link: 
.. description: 
.. tags: changelog,openid
.. date: 2015/03/29 12:00:00
.. title: Updates for March 29th
.. slug: updates-for-march-29th
-->

<p>
    <a href="http://gpsloglabs.com/">GPSLog Labs</a> is now running on a new
    server - hopefully you'll notice it's faster!
</p>
<p>
    In the process, the code has been significantly updated to take advantage of
    improved capabilities available in the new versions of the libraries it
    uses. (I made approximately 240 commits over the last 5 months!)
</p>
<p>
    That took way longer than I'd hoped, but now that is done I'll have some
    time to add some new features so there should be more frequent updates
    again.
</p>
<p>
    <b>OpenID Changes</b>
</p>
<p>
    The most significant change was to support a new OpenID version as Google is
    switching off the basic OpenID support that GPSLog Labs had used until now.
</p>
<p>
    Unfortunately, because of this change it's possible your account may not be
    associated correctly when you first log in and you may see a new empty
    account.
</p>
<p>
    You will not have lost any data permanently but will need to contact
    <a href="mailto:tom@gpsloglabs.com">tom@gpsloglabs.com</a> to have the issue
    corrected.
</p>
<p>
    If you notice any other issues after the update, please let me know.
</p>
