<!-- 
.. link: 
.. description: 
.. tags: changelog, tags, keyboard, graphs, sharing, embedding, routes, checkpoints
.. date: 2015/08/25 12:00:00
.. title: Updates for August 25th
.. slug: updates-for-august-25th-2
-->

<style type="text/css">
 kbd {
   border: 1px solid silver;
   border-radius: 5px;
   padding: 2px;
   background-color: #ddd;
   min-width: 1em;
   display: inline-block;
   text-align: center;
 }
</style>

<p>
    Yet another long gap between posts, but there have been lots of updates to
    <a href="http://gpsloglabs.com/">GPSLog Labs</a> in the interim.

    Here's a brief summary:
</p>

<ul>
    <li>
        <p><b>Keyboard shortcuts</b></p>
        <ul>
            <li style="list-style: none;">
                <kbd>f</kbd>
                View fullscreen maps/graphs
            </li>

            <li style="list-style: none;">
                <kbd>q</kbd>
                Open quickfind
            </li>

            <li style="list-style: none;">
                <kbd>escape</kbd>
                Close full screen map/graphs and quickfind popup
            </li>
        </ul>

        <p>
            The keyboard shortcuts make all these features much more useful as
            they're only a keypress away.
        </p>

        <p>
            A neat feature is if there is more than one possible graph/map to
            view in fullscreen, an overlay is added and you can press a number
            to select the one you're after.
        </p>

        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/keyboard-shortcuts.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/keyboard-shortcuts.scaled500.jpg">
            </a>
        </div>
    </li>

    <li>
        <p><b>Tag, place and route lifetimes</b></p>

        <p>
            A new visualisation attempts to indicate which
            <a href="http://gpsloglabs.com/tag/lifetime">tags</a>,
            <a href="http://gpsloglabs.com/place/lifetime">places</a>
            and <a href="http://gpsloglabs.com/route/lifetime">routes</a>
            are still in use and those that are "retired".
        </p>

        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/lifetimes-tab.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/lifetimes-tab.scaled500.jpg">
            </a>
        </div>

        <p>
            This information is also used to hide suggestions for tags and
            places you are probably no longer using and gray out the retired
            tags from the add tag popup and quick find popup.
        </p>

        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/lifetimes-select-tags.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/lifetimes-select-tags.scaled500.jpg">
            </a>
        </div>
    </li>

    <li>
        <p><b>Distance and speed vs heading graphs</b></p>
        <p>
            These graphs have been made prettier and easier to read with the
            graph now rendered as a circle with ticks for the compass points.
        </p>

        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/heading-bezels.png">
        </div>
    </li>

    <li>
        <p>
            I've added axis labels to all the graphs, which will make all the
            grade 6 maths teachers out there happy, as well as making the
            graphs much easier to understand.
        </p>
    </li>

    <li>
        <p>
            The goal, route and split detail trend graphs tabs have speed and
            heart rate histograms on them too now, which helps spot the trends
            better at a glance.
        </p>
    </li>

    <li>
        <p>
            The embedded graphs you can share on your own sites now support
            speed and heart rate zones backgrounds as options, and also let you
            specify the text for the axis labels.
        </p>

        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/embedded-speed-zones.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/embedded-speed-zones.scaled500.jpg">
            </a>
        </div>
    </li>

    <li>
        <p><b>Laps graph</b></p>

        <p>
            There's a new Laps tab on route split detail page that compares
            performance across sessions on activities with multiple laps,
            e.g. hill intervals or laps around an oval.
        </p>

        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/route-splits-laps.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th-2/route-splits-laps.scaled500.jpg">
            </a>
        </div>
    </li>
</ul>
