<!-- 
.. link: 
.. description: 
.. tags: changelog,graphs,maps,filters,editing,facebook,sharing,thumbnails,time filter,tags,heartrate
.. date: 2013/08/25 12:00:00
.. title: Updates for August 25th
.. slug: updates-for-august-25th
-->

<p>
    Some recent (and some not so recent) updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            New clock, altitude profile and map thumbnails.
        </p>
        <p>
            The thumbnail images have a new updated look that is smoother and more detailed. They
        are also rendered in the browser, rather than being downloaded, which speeds up the display
        of the pages.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/clock-thumbs.png">
        </div>
        <p>
            The clocks now "zoom in" when indicating short durations to make the most of the
            available space and show the duration in hours and minutes too.
            A duration of greater than 12 hours is indicated by shading the full circle.
        </p>
        <p>
            An arrow indicates whether the time is a.m. or p.m. (the arrow points from the start or
            end time to noon).
        </p>
        <p>
            Times for "junk" activity are shown in a small and simplified thumbnail.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/alt-thumbs.png">
        </div>
        <p>
            Altitude thumbnails simply show the profile, with distance grid lines every 10km and
            altitude grid lines every 100m.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/map-thumbs.png">
        </div>
        <p>
            Map thumbnails have a 1km grid to indicate scale, and show the start location as a green
            dot and the end location as a red dot.
        </p>
    </li>
    <li>
        <p>
            You can now generate a Google "static map image url" for an activity via the
            Activity detail "Share Log" page.  I.e. a simple image file that can be downloaded or
            added to a page and it doesn't require any scripting to make it work.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://maps.googleapis.com/maps/api/staticmap?maptype=terrain&size=500x350&markers=color:green%7Clabel:S%7C-37.958678,144.426050&markers=color:red%7Clabel:F%7C-37.958634,144.426204&path=enc:vxtfFyeopZmExQmC%7CCeE%7EBqArCK%7CAeEfFkEtB%7DDTeBr%40kAG%7BDwBaCj%40oBYwCwByAb%40aElEmKZqDsAMsAlAaIMiB%7EBaFX_DpByFH_BxAeCvC_JtDmEnRaMpAqBu%40c%40uCNeC%7BC%3Fk%40nFmG%7CEmJ%60%40aFpKwn%40K%7BBdAyB%7CC%7CEKXnHrSfAmAnBQ%7EEd%40xDu%40vE%3Ft%40%7D%40z%40sKc%40yA%5CeAbDAp%5BjDx%40QrJnAN%7C%40iHpqA_DMm%5BqGgXd%40lA%60A%7BDxDrKdErBjBdB%7EDcEy%40uF%60An%40v%40%5BdAYg%40m%40d%40g%40%5D%7DFtKgHrE%7BCtDoADeGtGOYsBvBaD%7E%40gFqAqBZwHkBaIpHaAPuAgCp%40%7DF%5D_Gh%40iE%5D%5DiBxEUzDqClFX%7E%40gAvHLjAlDdApKm%40pD%7BDvA%5DbDjBtFSjEbCrIiA%7EDsBrDeElBgGxD%7BBpCyClFyT%5B%5B%5Db%40g%40U_AnAa%40mAqBgAIdBkCo%40x%40z%40I%60%40%7DAIFf%40cGfDb%40yAkBt%40%5EmAo%40o%40%3F%60%40qDnAgAo%40uAVgA%7B%40%7DAj%40c%40Q%5BjBa%40s%40gAn%40c%40vB%5EmCjAYPt%40XkBjCu%40dAdAhCORj%40zDgBf%40b%40SdBpBs%40u%40rA%60GsD%40w%40%60BHaAw%40fDBMsAtC%60BEt%40lAuAb%40Zf%40e%40%60%40j%40sAf%40oAxF%60%40rAsApHcDzDeEdCkAlCSnBmDrES%7EDqAfCg%40%7CIhHxHEjCcAy%40i%40PeAxGlClEl%40vCf%40ENrAjEtBv%40dCxIp%40pDgAbIiHtFRf%40bBuAFTfC%7DA_%40%5DdAsBXqB%5DKh%40%7E%40JFd%40%7DAf%40L%60ArGfHp%40Up%40j%40Al%40aHjAyAvAuAQk%40b%40w%40i%40wF%60C%7D%40bAgEdBqAsEaBAoAwAyCVKl%40p%40PcAfB%7D%40qA%7BEdC_M%7BC%7BEC%7BBoA%7DBU_%40w%40HmAoBDcCw%40_CkBoALI_%40dBoA%7D%40iC_CcBeJaCoBqA%7BDw%40WgA%7C%40Q%7BAsAmFcAsBnAkCg%40mDl%40_%40%7DAZ%7DCQk%40h%40i%40e%40CjAs%40u%40Sh%40q%40m%40%5DTk%40U%7B%40XuAtDmBC_%40_DkAVcCpDH%3Fc%40iBeA%7ECg%40uAy%40nBo%40%7DBOl%40w%40aBi%40_%40s%40zBaEfEqBzGZzDw%40jCeEhAa%40%60%40h%40y%40%7CGFrChDfAnIIbGyF%7EAAdDjB%60EWpE%60C%7CIeApE%7DBnDoEJeBvAoCdFcD%7CBuCx%40sFlCqI&sensor=false">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/staticmap.png">
            </a>
        </div>
        <p>
            This feature is only available for shared activity, but once the url has been generated
            or the image downloaded, the activity can be made private again.
        </p>
    </li>
    <li>
        <p>
            The thumbnail for activity you share to your Facebook timeline is now a small "terrain"
            map. This looks nicer and has more detail than the old icon.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/facebook-share.jpg">
        </div>
    </li>
    <li>
        <p>
            Activity tags are now sorted by overall frequency, not just alphabetically. This makes
            the titles of pages (particularly shared activity and posts to Facebook etc.) more
            sensible as the primary activity tag is likely to be first (e.g. "Bike" or "Run")
            followed by any minor tags (e.g. shoe type or bike being used).
        </p>
    </li>
    <li>
        <p>
            I've added shading on activity heart rate graphs to indicate hear rate zones:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/hr-hist.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/hr-hist.scaled500.jpg">
            </a>
        </div>
        <p>
            An earlier post
            has <a href="http://blog.gpsloglabs.com/posts/heart-rate-graphs.html">details on setting
            up heart rate zones</a> for your tags.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/hr-vs-time.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/hr-vs-time.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            Likewise, there is also shading on activity speed graphs to indicate speed zones if you
            have them configured.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/pace-vs-distance.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/pace-vs-distance.scaled500.jpg">
            </a>
        </div>
        <p>
            There are links under these graphs to take you to the zone configuration if you
            haven't yet set up speed zones (or heart rate zones).
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/speed-hist.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-august-25th/speed-hist.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            A bug that meant times weren't working properly for non-English dates on the manually
            create segments page has been fixed.  Note, this page still won't work properly for very
            long files/segments. It's probably best that those are edited
            using <a href="http://gpsbabel.org/">gpsbabel</a> before uploading to GPSLog Labs.
        </p>
        <p>
            This page has also been updated with the new layout.
        </p>
    </li>
</ul>
