<!-- 
.. link: 
.. description: 
.. tags: changelog,crossfilter,graphs,places
.. date: 2014/09/26 20:00:00
.. title: Updates for September 26th
.. slug: updates-for-september-26th
-->

<p>
    It's been a long time since I've updated the blog, but that doesn't mean nothing has been going on.
    Here are a few recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            <b>Colour scheme update</b> &mdash; hopefully this one is pretty obvious. Let me know if
            you find any remnants of the old colours or aspects of the new scheme that aren't
            working.
        </p>
    </li>
    <li>
        <p>
            <b>Tag crossfilter tab</b> &mdash; This one is pretty neat.
            It uses the <a href="http://square.github.io/crossfilter/">crossfilter</a> library to
            provide an interactive exploration of the activity for a tag.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-1.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-1.scaled500.jpg">
            </a>
        </div>
        <p>
            You can click or drag a range of values on any of the charts and it will drill down and update
            all of the other charts and histograms immediately based on the new selection.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-drilldown.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-drilldown.scaled500.jpg">
            </a>
        </div>
        <p>
            Filters are available for many parameters, such as the date and time of the activity, the
            places and routes involved.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-filters-date.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-filters-date.scaled500.jpg">
            </a>
        </div>
        <p>
            This is a great way to answer a bunch of questions about your activity, such as:
        </p>
        <ul>
            <li>when was the last time I ran route X faster than 5:00 min/km?</li>
            <li>how many times have I run more than 30km?</li>
            <li>what routes do I ride on weekends?</li>
        </ul>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-filter-tag-applied.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-filter-tag-applied.scaled500.jpg">
            </a>
        </div>
        <p>
            The table at the bottom of the page shows the details of the selected activity and you can click
            through from there to the activity detail pages.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-table.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-table.scaled500.jpg">
            </a>
        </div>
        <p>
            The columns can be switched on and off too, which is handy if you've filtered in such
            a way that the places or routes are not interesting and just wasting space.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-table-config.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/crossfilter-table-config.scaled500.jpg">
            </a>
        </div>
        <p>
            There are still a few rough edges, so expect some improvements to this page as time goes on
            and it will be available in other areas of the site soon too.
        </p>
    </li>
    <li>
        <p>
            <b>Place altitude profile tab</b> &mdash; a semi-useful visualiation of the altitude
            profiles of routes to/from each place.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/place-alt-profile.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/place-alt-profile.scaled500.jpg">
            </a>
        </div>
        <p>
            The place is at the 0km point, incoming routes are to the left, outgoing to the right.
        </p>
    </li>
    <li>
        <p>
            Added grid divisions to box whisker plots to help judge scale (15 sec increments for
            pace, 2.5 km/mile per hour for speed, 5 bpm for heart rate).
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/boxwhisker-bpm.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/boxwhisker-bpm.png">
            </a>
        </div>
    </li>
    <li>
        <p>
            Changed goal tasks iCal file to output all day events. This is a bit less
            convenient in the calendar, but it avoids timezone problems.
        </p>
    </li>
    <li>
        <p>
            The "At place" flag on a segment can be overridden if necessary.
            Click on the "At Place (x)" and click "Override and treat as a commute".
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/override-at-place.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-26th/override-at-place.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            Fixed auto-detect timezone button and a bunch of other little bugs.
        </p>
    </li>
</ul>
