<!-- 
.. link: 
.. description: 
.. tags: changelog,maps,tags,places
.. date: 2013/10/25 20:30:28
.. title: Updates for October 25th
.. slug: updates-for-october-25th
-->

<p>
    Some recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            <strong>Speed zones</strong> can be displayed on maps.
        </p>
        <p>
            The "Enhance!" button on the maps has been converted into a dropdown menu, the old
        behaviour is now available from the "Unfiltered" option.
        </p>
        <div class="p_embed p_image_embed">
            <img src="http://blog.gpsloglabs.com/post_images/updates-for-october-25th/map-enhance-menu.png">
        </div>
        <p>
            The map on the activity detail page has a new option "Speed zones" which will colour the
            track on the map according to the speed zone.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-october-25th/map-zone-colours.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-october-25th/map-zone-colours.scaled500.jpg">
            </a>
        </div>
        <p>
            To enable this option, you'll need
            to <a href="/posts/updates-for-august-25th.html">configure speed zones</a> for one or
            more of your tags.
        </p>
    </li>
    <li>
        <p>
            <strong>Tag hierarchy</strong> visualisation.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-october-25th/tag-hierarchy.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-october-25th/tag-hierarchy.scaled500.jpg">
            </a>
        </div>
        <p>
            This <a href="http://gpsloglabs.com/tags/hierarchy">new tab on the Tags page</a>
            will automatically determine the major tags you use (Ride, Run, ...) and minor tags
            within those (e.g. type of shoes, bike used, type of activity.)
        </p>
        <p>
            You can drag the tags around the graph to get a nice layout and double-click a tag to
            only include activity with that tag.
        </p>
    </li>
    <li>
        <p>
            The <a href="http://gpsloglabs.com/places/network">place network</a> visualisation now
            has options to sort the places according to time of first or last visit, as well as by
            name and count of visits.
        </p>
    </li>
    <li>
        You can once again edit activity notes directly from the log file activity editing page,
        rather than having to do it from the activity detail page.
    </li>
</ul>
