<!-- 
.. link: 
.. description: 
.. tags: changelog,sharing,routes,sessions,tags,graphs
.. date: 2013/09/07 10:00:00
.. title: Updates for September 7th
.. slug: updates-for-september-7th
-->


<p>
    Some recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            New <strong>Alternative Routes</strong> page.
        </p>
        <p>
            This page lets you easily see all logs between two places, you can access it by clicking
            the "Alternative routes" menu option on one of the routes between the places you're
            interested in.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-button.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-button.scaled500.jpg">
            </a>
        </div>
        <p>
            It provides a summary of all routes between the two places:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-routes.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-routes.scaled500.jpg">
            </a>
        </div>
        <p>
            And most usefully, it lets you see all activity in a comparison table or on a map,
            filtering to just one tag if you like:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-map.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-routes-map.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            The Share Activity page was getting a bit long, so I've split it into tabs:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/share-tabs.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/share-tabs.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            The session detail page has been updated with a better tag dialog and a layout that
            provides clearer indication of the activity that makes up the commute to and from the
            place and any activity at the place.
        </p>
    </li>
    <li>
        <p>
            The Select tags dialog layout has been updated to show the list of tags in columns and
            selected tags are highlighted better now too, making it easier to use.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/select-tags.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/select-tags.scaled500.jpg">
            </a>
        </div>
    </li>
    <li>
        <p>
            I've changed the altitude profile graphs (and thumbnails) so they no longer "zoom to
            fit".
            An example is the easiest way to show what I mean, this is what the altitude profile
            used to look like:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-graph-before.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-graph-before.scaled500.jpg">
            </a>
        </div>
        <p>
            Looks pretty steep and hilly, but the hills are only 50m high! The new graphs now limit
            the stretching so the profile is a bit more representative:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-graph-after.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-september-7th/alt-graph-after.scaled500.jpg">
            </a>
        </div>
        <p>
            The maximum exaggeration is limited to about 75 times, which seemed to offer a
            reasonable compromise that still shows the hills in some detail without ending up
            totally flat when the distances is very large.
    </li>
    <li>
        <p>
            Fixed a bug so tasks added to duration-based goals are correctly displayed in hours.
        </p>
    </li>
    <li>
        <p>
            Fixed a bug so that activity details are displayed correctly if all points were removed
            by a filter.
        </p>
    </li>
</ul>
