<!-- 
.. link: 
.. description: 
.. tags: changelog, goals, bestefforts, activityfeed, editing, translation
.. date: 2013/06/26 12:00:00 +1000
.. title: Updates for June 26th
.. slug: updates-for-june-26th
-->

<p>
    This is a quick summary of the recent updates to <a href="http://gpsloglabs.com/">GPSLog Labs</a>:
</p>

<ul>
    <li>
        <p>
            The new <a href="http://gpsloglabs.com/tags/feed">"Activity feed"</a> has had some extra
            elements added to help you be aware of recent and upcoming significant achievements:
        </p>
        <ul>
            <li>
                <p>
                    Best Efforts &mdash; This will show your fastest times at benchmark distances (e.g. 10km)
                </p>
                <div class="p_embed p_image_embed">
                    <a href="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-best-effort.png">
                        <img src="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-best-effort.scaled500.png">
                    </a>
                </div>
            </li>
            <li>
                <p>
                    Goals &mdash; Progress towards a goal will be indicated as you pass 50% and 100% of
                    your target distance, and also as you get half way through the goal period and when
                    you complete the goal.
                </p>
                <div class="p_embed p_image_embed">
                    <a href="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-goal.png">
                        <img src="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-goal.scaled500.png">
                    </a>
                </div>
            </li>
            <li>
                <p>
                    Activity counts &mdash; e.g. the 10th or 100th log for a given tag, route or distance.
                </p>
                <div class="p_embed p_image_embed">
                    <a href="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-count.png">
                        <img src="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/activity-feed-count.scaled500.png">
                    </a>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <p>
            New layout for log file editing page:
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/rawlog-confirm.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/rawlog-confirm.scaled500.png">
            </a>
        </div>
        <p>
            Hopefully this is a more logical layout that includes a few more details and removes a
            few things that no longer made sense.  Some of the popups on this page have some small
            improvements too.
        </p>
    </li>

    <li>
        There's now a Russian translation of the <a href="http://gpsloglabs.com/help.html">help pages</a>.
        Many thanks to Michael.
    </li>

    <li>
        <p>
            Added "Place Count" and "Tag Count" as options for displaying calendar summary tables.
        </p>
        <div class="p_embed p_image_embed">
            <a href="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/date-summary-counts.png">
                <img src="http://blog.gpsloglabs.com/post_images/updates-for-june-26th/date-summary-counts.scaled500.png">
            </a>
        </div>
    </li>
    <li>
        Added nautical miles as an option for the distance/speed
        format <a href="http://gpsloglabs.com/profile/">settings</a>.
    </li>
    <li>
        Added a csv download for data from the session detail tables (e.g. from the Sessions tab on
        the Place or Tag detail pages.)
    </li>
    <li>Fixed a bug with Facebook sharing.</li>
</ul>
